<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
	<add name="DefaultConnection"
     connectionString="Data Source=DESKTOP-3S4GF2N\SQLEXPRESS;Initial Catalog=BogsyDatabse;Integrated Security=True;Pooling=False;Encrypt=False;Trust Server Certificate=False"
     providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>