<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="create_edit_client.Properties.Settings.tempdbConnectionString"
            connectionString="Data Source=DESKTOP-3S4GF2N\SQLEXPRESS;Initial Catalog=tempdb;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="create_edit_client.Properties.Settings.ALEXISCONSTRUCTIONENHANCEDConnectionString"
            connectionString="Data Source=DESKTOP-3S4GF2N\SQLEXPRESS;Initial Catalog=ALEXISCONSTRUCTIONENHANCED;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>